<%= render 'layouts/banner' %>

<div class="container">
    <div class="row">
    <% @cat_array.each do |cat| %>
        <div class="col-md-4 mb-5">
        <%= link_to cat_path(cat) do %>
            <div class="card h-100"> 
                <div class="card-body" >
                    <%= cat.title %></br>
                    <%= cat.description %></br>
                    <%= cat.price %></br>
                    <img style="max-width:100% ; max-height:100%" src="<%= cat.image_url %>" >
                    <%= link_to "Ajouter au panier", new_order_path(cat) %>
                </div>
            </div>
        <% end %>
        </div>
    <% end %>
    </div>
</div>